rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return signedIn()
        && request.auth.token.email in [
          "stanleyhoh79@gmail.com"
        ];
    }

    match /paymentProofs/{userId}/{fileName} {
      allow read: if isAdmin() || (signedIn() && request.auth.uid == userId);
      allow write: if signedIn()
        && request.auth.uid == userId
        && request.resource.size < 5 * 1024 * 1024
        && request.resource.contentType.matches('image/.*|application/pdf');
    }
  }
}
